@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  margin: 0 auto;
  height: 330px;
  background-image: url('/assets/giphy.webp');
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: 100% 330px;
}

.nav__bar {
  
  background-color: #24242498;
  padding: 24px;
}

.nav__bar--center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#logo {
  color: white;
  font-size: 32px;
}

.nav__links {
  display: flex;
}

.nav__list {
  list-style-type: none;
  margin: 0 24px;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  font-size: 30px;
  color: white;
  margin: 32px 0;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 500px;
} 

.search__input {
  width: 100%;
  padding: 24px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid white;
}

.search__btn {
  font-size: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 8px;
  position: absolute;
  right: 16px;
  top: 10px;
}

/*

GAMES

*/

#games {
  background-color: black;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
}

.game {
  width: 100%;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  margin: 24px;
  padding: 12px;
} 

.game__img {
  opacity: 0.7;
  transition: all 300ms ease;
}

.game__img:hover {
  opacity: 1;
}

.game__info {
  padding: 24px;
}

.label {
  font-weight: bold;
  text-decoration: underline;
}